<div class="col-md-6 col-md-offset-3">
	<h1>Editar comentario</h1>
	
	<%= render 'form', comment: @comment %>
	
	<%= link_to 'Ver', @comment, class: 'btn btn-primary' %> |
	<%= link_to 'Atras', comments_path, class: 'btn btn-default' %>
</div>